<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu Página</title>
    <!-- Enlaces a tus hojas de estilo (CSS) o scripts (JavaScript) -->
</head>
<body>

<%= render 'navbar' %>

<form action="/events" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div>
    <label for="article_title">Titulo</label><br>
    <input type="text" name="event[Titulo]" id="event_titulo">
  </div>

  <div>
    <label for="article_body">Descripcion</label><br>
    <textarea name="event[Descripcion]" id="event_descripcion"></textarea>
  </div>

   <div>
    <label for="article_body">Fecha</label><br>
    <input type="date" name="event[Fecha]" id="article_body"></textarea>
  </div>

   <div>
    <label for="article_body">Ubicacion</label><br>
    <textarea name="event[Ubicacion]" id="article_body"></textarea>
  </div>

   <div>
    <label for="article_body">Costo</label><br>
    <textarea name="event[Costo]" id="article_body"></textarea>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Evento" data-disable-with="Crear Evento">
  </div>
</form>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
  <% @event.each do |event| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title"><%= event.Titulo %></h3>
          <p class="card-text"><strong>Descripción:</strong> <%= event.Descripcion %></p>
          <p class="card-text"><strong>Fecha:</strong> <%= event.Fecha %></p>
          <p class="card-text"><strong>Ubicacion:</strong> <%= event.Ubicacion %></p>
          <p class="card-text"><strong>Costo:</strong> <%= event.Costo %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>