<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu Página</title>
    <!-- Enlaces a tus hojas de estilo (CSS) o scripts (JavaScript) -->
</head>
<body>

<%= render 'navbar' %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
  <% @event.each do |event| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title"><%= event.Titulo %></h3>
          <p class="card-text"><strong>Descripción:</strong> <%= event.Descripcion %></p>
          <p class="card-text"><strong>Fecha:</strong> <%= event.Fecha %></p>
          <p class="card-text"><strong>Ubicacion:</strong> <%= event.Ubicacion %></p>
          <p class="card-text"><strong>Costo:</strong> <%= event.Costo %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>